<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>bmperf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>bmsvutil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>bmtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>bvsample01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>bvsample02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>bvsample03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>bvsample04.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>bvsample05.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>bvsample06.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>bvsample08.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>bvsample09.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>bvsample10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>svsample01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>svsample02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>svsample03.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C7A038607C54482BA59785F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DFDCD3CF51A474B8302B106</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2452FD21FB0A41138DED21FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FB97E36ABC44268B4F126C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3256EE8D4C324DA798D89B0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3694A277CB274E179D133146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F9170FF431949FDB796FE7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50B22F1DD6A240A799BD4382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>56ED0307777A4016A1C4EA78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60DD5E3E154C420B8AE8746B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72C4C885F905408288391594</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E48F642710D4BD1A9CB61E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86F53F57C31A4D789E705F3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5888142299A4B399E649B20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA46205D129942F5A832C857</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF9C31D5BBCF4D4EBBDF9EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0E649229FEC46248602F556</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
